#set($inputRoot = $input.path('$'))
{
  "searchString": "$inputRoot.searchString",
  "page": "$inputRoot.page",
  "size": "$inputRoot.size",
  "sort": "$inputRoot.sort",
  "userId": "$inputRoot.userId",
  "variant": "$inputRoot.variant",
  "filters": "$inputRoot.filters"
}